#cart-lf-rg {
display: inline-flex;
}

#cart-close {
  width: 98%;
  border: 1px red solid;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;

}

#exit-btn {
  width: 1.5rem;
  height: 1.5rem;
}

.left-crt {
  width: 60%;
  border: 1px blue solid;
}

.lft-img {
  display: inline-flex;
}

.modal-header { 
  padding: 10px;
  display: inline-grid;
  grid-template-columns: 400px 120px 400px 190px;
  grid-column-gap: 60px;

}

.modalBackground {
  border: 4px blue solid;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-delay: 0s;
}

.modalContainer {
  width: 100%;
  height: 500px;
  /* border-radius: 12px; */
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  top: 0;
  position: fixed;
  left: 0;
  overflow: auto;
}

.right {
  border: 2px rgba(0, 0, 0, 0.35) solid;
  height: 30px;
  width: auto;
  position: relative;
  bottom:1px;

}

#checkout-btn {
  font-family: "Whitney SSm A", "Whitney SSm B", sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  font-size: 15px;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  border: 2px solid rgb(255, 255, 255);
  color: white;
}

#product-info {
  border: 2px green solid;
  border-collapse: collapse;

}

#product-name {
  position: relative;
  top: 5em;
  min-width: 20px;
  border: 2px solid rgb(216, 27, 27);
  height: 20px;
  width:auto;
  min-width: 10em;
}

.cart-img {
  margin: 2em 1em 1em 1em;

}

#price {
  position:relative;
  left: 28em;
  bottom: 4.3em;
  width:5em;
  border: 3px solid #73AD21;
}

#inc-dec {
  position:relative;
  left: 38em;
  bottom: 5.9em;
  display: inline-flex;
  border: 3px solid #73AD21;
}