.add-to-cart {
  width: 200px;
  height: 50px;
  border: 1px solid gray;
  cursor: pointer;
}
#back-btn {
  position: relative;
  left: 2.5vw;
  top: 15vh;
}
.btn {
  font-family: "Whitney SSm A", "Whitney SSm B", sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  font-size: 15px;
  text-transform: uppercase;
  background-color: white;
  /* border-radius: 10px; */
  border: 2px solid rgb(255, 255, 255);
  /* color: white; */
}

.btn-btn {
  display: flex;
  flex-direction: row;
  margin: 2rem 0;
}
.images {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: flex-end;
  /* float: right; */
  /* flex: 50%; */
  /* margin-right: 3em; */
  width: 50%;
  margin: 6em 3em;
}
.img {
  margin: 2em 3em;
}

.product-block {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
}

.product-desc {
  width: 50%;
  bottom: 50vh;
  margin-bottom: 200px;
}
.product-info {
  /* flex: 50%; */
  /* display: block; */
  width: 100%;
  position: sticky;
  top: 25%;
  left: 5em;
  bottom: 20%;
  padding-bottom: 30vh;
  margin-left: 2em;
}
.price {
  font-weight: 600;
  font-size: larger;
  color: rgb(93, 87, 87);
}
.red {
  /* background-color: red; */
  color: red;
  cursor: pointer;
}