.images {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: flex-end;
  /* float: right; */
  flex: 50%;
  /* margin-right: 3em; */
  width: 50%;
  margin: 6em 3em;
}
img {
  margin: 2em 3em;
}

.product-block {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
}

.product-info {
  /* flex: 50%; */
  /* display: block; */
  width: 50%;
  position: fixed;
  top: 25%;
  left: 2em;
}

.btn {
  font-family: "Whitney SSm A", "Whitney SSm B", sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  font-size: 15px;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  border: 2px solid rgb(255, 255, 255);
  color: white;
}

.cart {
  width: 400px;
  height: 50px;
}
.btn-btn {
  flex-direction: column;
  margin: 2rem 0;
}
.price {
  font-weight: 600;
  font-size: larger;
  color: rgb(93, 87, 87);
}